#content{
    background-color: #2a96a5;
}


.bg-gradient-primary {

    background-image: linear-gradient(180deg, #742484 10%, #742484  100%);
    background-size: cover;
}

#footer-box{
    background-color: #742484;
}

#txtfooter{
    color: #ffffff;
}

#box-top{
    background-color: #742484;
}
#box-lup{
    background-color: #2a96a5;
}

#textmb4{
    color: #ffffff;
}

/*MODAL Y FORMULARIO*/

/*MODAL*/
#modal::backdrop, #modalEditar::backdrop, #modalEd::backdrop, #modalEdP::backdrop,#modalVer::backdrop,#modal-adm::backdrop{
    background-color:rgba(0,0,0,.55);


}

#modal, #modalEditar, #modalEd,#modalVer,#modal-adm{
    max-width:50ch;

}
#modalEdP {
    max-width: 100ch;
}

#modal, #modalEditar, #modalEd , #modalEdP,#modalVer{
    top:1%;
    width: 75%;
    margin : 0 auto;
    text-align: left;
    border-radius: 10px;


}
#btn-abrir-modal,#btn-Salir{

    background-color: #742484;
    padding:5px 15px;
    border-radius: 5px;
    color:  white;
}

#btn-abrir-modal:hover,#btn-Salir:hover{
    background-color: #742484;
    color: white;
}

#btn-enviar-edModal,#btnCerrar,#btn-enviar-modal-adm{

    background-color: #742484;
    padding:5px 15px;
    border-radius: 5px;
    color:  white;
    margin-top: 10px;


}
#btn-enviar-modal, #btn-enviar-editar,#guardarImagen{
    background-color: #742484;
    padding:5px 15px;
    border-radius: 5px;
    color:  white;

}
/*formulario*/

#txtfor ,#txtTitulo{
    text-align: center;
}

.form{
    margin-top: 5px;
}
.form .body-modal{
    width:100%;
    margin-top:15px;
    flex-wrap: wrap;
}

.body-modal label{
    color:#333;

}
.form :where(.body-modal input, #select-box select){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #dddd;
    border-radius: 6px;
    margin-top: 10px;
    padding: 0 15px;
}

.form .columna-A{
    display: flex;
    column-gap: 15px;
}

.contenidoModal{
    display: flex;
}

.contenidoModal div{
    flex:1;

}

#txtTitulo, #txtTitulo2,#txttituloHistorial,#txttituloHistorial2,#txtfor{
    border-style: solid;
    text-align: center;
    font-size: 150%;
    border-radius: 5px;

}
#txttituloHistorial,#txttituloHistorial2{
    margin-left: 5px;
}



#btn-cerrar-edModalP,#btn-cerrar-editar,#btn-cerrar-edModa,#btn-cerrar-modal,#btn-cerrar-edModal,#botonCancelarVer,#btn-cerrar-modal-adm{
    color: white;
    background-color: red;
    padding:5px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.body-modal-adm {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #dddd;
    border-radius: 6px;
    padding: 0 15px;
}
#formularioImagen{
    margin-top: 10px;
}
